In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import sklearn as sk

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
! pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.10.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (578.1 MB)
     |█████▊                          | 104.2 MB 3.5 kB/s eta 1 day, 13:23:24

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [146]:
X = df.iloc[:,3:-1].values

In [147]:
y= df.iloc[:,-1].values

In [148]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2]= le.fit_transform(X[:,2])

In [149]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct  = ColumnTransformer([('encoder',OneHotEncoder(),[1])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [150]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=1)

In [151]:
print(X_train.shape,X_test.shape)

(8000, 12) (2000, 12)

In [152]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [153]:
ann = tf.keras.models.Sequential()

In [154]:
ann.add(tf.keras.layers.Dense(6,activation= 'relu' ))
ann.add(tf.keras.layers.Dense(6,activation= 'relu'))
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [155]:
ann.compile(optimizer= 'adam', loss= 'binary_crossentropy',metrics= ['accuracy'])

In [162]:
history = ann.fit(X_train, y_train, batch_size= 128, epochs= 50)

Epoch 1/50
63/63 [==============================] - 0s 5ms/step - loss: 0.4061 - accuracy: 0.8264
Epoch 2/50
63/63 [==============================] - 0s 5ms/step - loss: 0.4035 - accuracy: 0.8286
Epoch 3/50
63/63 [==============================] - 0s 5ms/step - loss: 0.4007 - accuracy: 0.8307
Epoch 4/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3977 - accuracy: 0.8314
Epoch 5/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3945 - accuracy: 0.8331
Epoch 6/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3916 - accuracy: 0.8325
Epoch 7/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3884 - accuracy: 0.8341
Epoch 8/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3855 - accuracy: 0.8366
Epoch 9/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3825 - accuracy: 0.8376
Epoch 10/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3796 - accuracy: 0.8400
Epoch 11/50
63/63 [==============================] - 0s 4ms/step - loss: 0.3766 - accuracy: 0.8405
Epoch 12/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3739 - accuracy: 0.8435
Epoch 13/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3709 - accuracy: 0.8436
Epoch 14/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3681 - accuracy: 0.8462
Epoch 15/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3648 - accuracy: 0.8485
Epoch 16/50
63/63 [==============================] - 0s 4ms/step - loss: 0.3615 - accuracy: 0.8495
Epoch 17/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3586 - accuracy: 0.8511
Epoch 18/50
63/63 [==============================] - 0s 4ms/step - loss: 0.3561 - accuracy: 0.8506
Epoch 19/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3537 - accuracy: 0.8516
Epoch 20/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3525 - accuracy: 0.8511
Epoch 21/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3506 - accuracy: 0.8518
Epoch 22/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3496 - accuracy: 0.8529
Epoch 23/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3476 - accuracy: 0.8529
Epoch 24/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3468 - accuracy: 0.8535
Epoch 25/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3457 - accuracy: 0.8546
Epoch 26/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3447 - accuracy: 0.8546
Epoch 27/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3440 - accuracy: 0.8540
Epoch 28/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3431 - accuracy: 0.8569
Epoch 29/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3425 - accuracy: 0.8566
Epoch 30/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3417 - accuracy: 0.8572
Epoch 31/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3415 - accuracy: 0.8579
Epoch 32/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3406 - accuracy: 0.8597
Epoch 33/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3400 - accuracy: 0.8606
Epoch 34/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3395 - accuracy: 0.8597
Epoch 35/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3394 - accuracy: 0.8614
Epoch 36/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3388 - accuracy: 0.8605
Epoch 37/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3385 - accuracy: 0.8614
Epoch 38/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3384 - accuracy: 0.8616
Epoch 39/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3379 - accuracy: 0.8604
Epoch 40/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3376 - accuracy: 0.8618
Epoch 41/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3372 - accuracy: 0.8614
Epoch 42/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3370 - accuracy: 0.8614
Epoch 43/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3366 - accuracy: 0.8602
Epoch 44/50
63/63 [==============================] - 0s 6ms/step - loss: 0.3363 - accuracy: 0.8620
Epoch 45/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3360 - accuracy: 0.8622
Epoch 46/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3359 - accuracy: 0.8614
Epoch 47/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3359 - accuracy: 0.8614
Epoch 48/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3354 - accuracy: 0.8619
Epoch 49/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3354 - accuracy: 0.8614
Epoch 50/50
63/63 [==============================] - 0s 5ms/step - loss: 0.3352 - accuracy: 0.8622

In [163]:
ann.evaluate(X_test,y_test)

63/63 [==============================] - 0s 4ms/step - loss: 0.3364 - accuracy: 0.8620

[0.33643975853919983, 0.8619999885559082]

In [164]:
print(ann.predict(sc.transform([[1,0,0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))>0.5)

1/1 [==============================] - 0s 43ms/step
[[False]]

In [165]:
y_pred= ann.predict(X_test)
y_pred= y_pred > 0.5

63/63 [==============================] - 0s 4ms/step

In [166]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[1535   50]
 [ 226  189]]

In [167]:
accuracy_score(y_test,y_pred)

0.862